$color1: #4d8c1f;
$color2: #c00;
// $pdp-flash-sale-countdown-bg-color: #36710c;
$pdp-flash-sale-countdown-color: #FFFFFF;
// #e31836, #e80405, #e5001c, #2d5391, #05a5b2, #8db93c, 
.flash-sale-countdown {
  text-align: center;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 16px;
  padding-right: 16px;

  p {
    margin: 0;
  }

  .flash-sale-text {
    font-size: 16px;
    font-weight: 800;
  }

  #flash-sale-countdown-timer {
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;

    padding: 2px 4px;
    margin-left: 4px;

    border-radius: 25px;
    background-color: #ff0000;
    width: 100%;
    max-width: 200px;
  }

  .flash-sale-expired-text {
    font-size: 14px;
    color: #8d8d8d;
  }
}

#flash-sale {
  .flash-sale-indicator {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    .flash-sale-show-all {
      color: $color1;
      font-weight: bold;
      font-size: 14px;
    }
  }
}

.flash-sale-products {
  background-color: $color1;
  padding-top: 2px;
  /* Styles for the regular price (striked) */
  .flash-sale-product .flash-sale-regular-price {
    text-decoration: line-through;
    color: #888;
  }

  /* Styles for the regular price (striked) */
  .flash-sale-price {
    text-decoration: line-through;
    color: #888;
    font-size: 10px;
  }

  /* Styles for the percentage discount */
  .flash-sale-percentage-discount {
    font-size: 12px;
    color: $color2; /* You can change this color to your desired color */
    background-color: rgba($color2, 0.3);
    padding: 4px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 10px;
    margin-right: 2px;
  }

  /* Styles for the discounted price */
  .flash-sale-discounted-price {
    font-weight: bold;
    color: $color2; /* You can change this color to your desired color */
    font-size: 12px;
  }

  .products {
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    overflow: scroll;
    white-space: normal;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-left: 16px;
    padding-right: 16px;

    .p-item {
      flex: 0 0 auto;
      border: 1px solid #dadada;
      border-radius: 6px;
      margin-bottom: 12px;
      margin-right: 6px;
      width: 126px;
      display: block;
      background-color: #FFFFFF;

      .image-block {
        max-width: 124px;
        max-height: 124px;
      }
    }

    .p-item-img {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    .p-grade-w {
      display: flex;
      flex-direction: row;
    }

    .p-grade {
      padding: 2px 12px 2px 8px;
      background-color: #bfc766;
      color: white;
      font-size: 10px;
      margin-top: 4px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }

    .p-item-des {
      padding: 4px 8px 12px 8px;
      font-size: 12px;
    }

    .p-item-title {
      font-size: 12px;
    }

    .p-item-price {
      font-family: "Lato";
      font-weight: bold;
      margin: 2px 0;
    }

    .p-item-disc-w {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .p-item-disc {
      padding: 2px 6px;
      border-radius: 2px;
      background-color: #ed2939;
      margin: 2px 4px 0px 0px;
    }

    .p-item-disc-text {
      font-size: 10px;
      color: white;
    }

    .p-item-disc-then {
      font-size: 10px;
      color: #979797;
      text-decoration: line-through;
    }

    .p-item-warr {
      display: flex;
      flex-direction: row;
      margin-top: 6px;
    }

    .p-item-warr-img {
      height: 14px;
      margin-right: 2px;
    }

    .p-item-warr-text {
      font-size: 10px;
      color: #979797;
    }

    .p-item-review-w {
      display: flex;
      flex-direction: row;
      margin-top: 4px;
    }

    .p-item-review-img {
      height: 14px;
      margin-right: 2px;
    }

    .p-item-review-text {
      font-size: 10px;
      color: #979797;
    }
  }
}

/* .flash-sale-products {
display: flex;
flex-wrap: wrap;
}

.flash-sale-product {
width: 25%;
padding: 10px;
text-align: center;
}

.flash-sale-product .p-item-title {
font-size: 16px;
margin-bottom: 5px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.flash-sale-price {
text-decoration: line-through;
color: #999;
}

.flash-sale-discounted-price {
color: #ff0000;
font-weight: bold;
} */

#flash-sale-pdp {
  p {
    margin: 0;
  }
  .flash-sale-countdown-pdp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 14px 16px;
    background: rgb(88,129,87);
    background: linear-gradient(90deg, rgba(88,129,87,1) 0%, rgba(58,90,64,1) 100%); 
    color: $pdp-flash-sale-countdown-color;

    .flash-sale-text {
      font-weight: bold;
      align-self: center;
    }
  }

  .flash-sale-indicator {
    p.flash-sale-expired-text {
      font-size: 14px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    span#flash-sale-countdown-timer {
      font-weight: 800;
      background-color: #fff;
      color: red;
      padding: 2px 10px;
      border-radius: 16px;
      font-size: 12px;
    }
  }
}

.flash-sale-product-price {
  padding: 0 16px;

  .flash-sale-regular-price {
    font-size: 14px;
    color: #A7B1C4;
  }

  .flash-sale-percentage-discount {
    padding: 2px 4px;
    background-color: rgba(234, 99, 99, 0.4);
    color: rgb(225, 91, 91);
    font-size: 12px;
    margin-right: 4px;
    border-radius: 4px;
    font-weight: bold;
  }

  .flash-sale-discounted-price {
    font-size: 18px;
    font-weight: bold;
  }
}